
{% block content %}

<div class="jumbotron vertical-center">
    <div class="container">

            <legend>Koala</legend>
            <p>
                <label for='name'>Name</label><br>
                <input type='text' name='name' />
            </p>
            <p>
                <label for='description'>Koala's description</label><br>
                <input type='text' name='description' />
            </p>
            <p> 
            <label for='url'>Koala Image (URL)</label><br>
            <input type='url' name='url' />
            </p>
</div>
</div>
{% endblock %}
{% extends 'base.html' %}