
{% block content %}

<div class="jumbotron vertical-center">
<div class="container">

<form method='POST' action='/koalas'>
    <fieldset>
    <legend>Koala</legend>
      

<div>
    <label for='name'>Name</label><br>
    <input id='name' type='text' name='name' value='{{ koala.name }}'/>
</div>

<div>
    <label for='description'>Description</label><br>
    <input id='description' type='text' name='description' value='{{ koala.description }}'/>
</div>

<div>
    <label for='image'>Image URL</label><br>
    <input id='image' type='text' name='image' value='{{ koala.image }}'/>
</div>
{% endblock %}
{% extends 'base.html' %}