body {
    min-height: 140px;
    background-image: url('photo1.png');

  }

img {
    padding-left: 70px;
    max-width:1000px;
    max-height: 500px;
}

p {
    padding-left: 70px;
}

h2 {
    padding-left: 70px;
}

h1 {
    padding-top: 20px;
    padding-left: 20px;
}
a {
    padding-left: 70px;
    transition: .15s ease;
    top: 50%;
    left: 50%;
    
}

.vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
  }