<!-- templates/koala_show.html -->

<a href='/'>Back to Home</a>
{% include 'partials/navbar.html' %}
{% block content %}
<div class="card"><div class="card-body"></div>
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ koala.name }}</h1>
<h4>{{ koala.description }}</h4>
<img class='center' width="800" height="700" src="{{ koala.url }}"></img>
</div>
</div>
<p><a href='/koalas/{{ koala._id }}/edit'>Edit</a></p>
<p><form method='POST' action='/koalas/{{ koala._id }}/delete'>
    <button type='submit'>Delete</button></p>
{% endblock %}
{% extends 'base.html' %}